@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom, #E1D5CA1A 10%, #A1785633 20%);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 2vw;
    font-weight: 500;
    color: #A17856;
}

p {
    font-size: 1.75vw;
    text-align: center;
    color: #A17856;
}

button{
    color: #FBFBFB;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 1.40vw;
}

label{
    align-content: center;
    font-size: 1.75vw;
    color: #A17856;
}

input{
    width: 75%;
    border: none;
    background-color: #E1D5CA;
    border-radius: 5px;
    padding: 8px;
}

li {
    color: #A17856;
    font-size: 1.25vw;
}

.brown-bg{
    background-color: #A17856;
    color: #FBFBFB;
    border-radius: 10px;
}

.brown-light-bg{
    background-color: #CBB098;
    color: #FBFBFB;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container > div {
    background-color: #FBFBFB;
    border-radius: 30px;
    width: 50%;
    margin-right: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-container > div > * {
    text-align: center;
}

.left {
    padding: 20px;
}

.input-line {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.popup-para {
    text-align: left;
    font-size: 1.25vw;
}

.hidden {
    visibility: hidden;
}

#top {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1rem;
}

#top > button {
    margin-left: 10px;
}

#alert_text {
    color: #FBFBFB;
    background-color: #FFA4A4;
    border-radius: 10px;
    text-align: left;
    padding: 8px;
    visibility: hidden;
}

#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
     
}

#popup {
    background-color: #FBFBFB;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    height: fit-content;
}

#popup-header {
    text-align: center;
}

@media screen and (max-width: 450px) {
    .flex-container {
        flex-direction: column;
        margin-right: 0;
    }

    .flex-container > div {
        width: 80%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

